# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
todo/node_modules
todo/.pnp
todo/.pnp.js

# testing
todo/coverage

# production
todo/build

# misc
todo/.DS_Store
todo/.env.local
todo/.env.development.local
todo/.env.test.local
todo/.env.production.local

todo/npm-debug.log*
todo/yarn-debug.log*
todo/yarn-error.log*
